@import 'styles';

.toast-container {
    background-color: $details;
    border-radius: 5px;
    color: $white;
    height: 50px;
    padding: 10px;
    position: fixed;
    right: 10px;
    text-align: center;
    top: 10px;
    width: 400px;
    z-index: 4;

    @include smartphone {
        height: 60px;
        right: 0;
        top: 0;
        width: 100%;
    }
}