$primary: #121212;
$secondary: #2b2b2b;
$secondary-light: #4b4b4b;
$secondary-lighter: #626262;
$secondary-super-light: #a6a6a6;
$details: #8378FD;
$details-hover: #968cff;
$details-disabled: #a4a1bf;
$white: #FFFFFF;