@import 'styles';

@mixin default-text-config() {
    color: $white;
    font-size: 1.1rem;
}

.result-section-container {
    margin-top: 50px;
    padding: 25px;

    > .result-initial-text {
        @include default-text-config;
    }

    > .result-content {
        margin: 60px 0 40px 0;

        > .about-me-section {
            > .name {
                color: $white;
                font-size: 2.3rem;
                font-weight: bold;
            }

            > .role {
                color: $details;
                display: inline-block;
                font-size: 1.1rem;
                margin: 5px 0 50px 0;
            }

            > .purple-bar {
                background-color: $details;
                height: 2px;
                margin-bottom: 15px;
                width: 80px;
            }

            > .about-me-text {
                line-height: 1.6;

                @include default-text-config;
            }

            > .contact-buttons {
                align-items: center;
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                margin-top: 60px;

                > .social-media-contact-button, .github-button {
                    background-color: $details;
                    border-radius: 5px;
                    border: none;
                    color: $white;
                    cursor: pointer;
                    font-family: "Inter", sans-serif;
                    font-size: 1rem;
                    font-weight: bold;
                    height: 50px;
                    padding: 10px;
                    transition: 0.3s ease-in-out;

                    &:hover {
                        background-color: $details-hover;
                    }
                }

                > .social-media-contact-button {
                    width: 200px;
                }

                > .github-button {
                    align-items: center;
                    display: flex;
                    justify-content: center;
                    width: 150px;

                    > .github-link {
                        align-items: center;
                        color: $white;
                        display: flex;
                        gap: 10px;
                        text-decoration: none;
                    }
                }
            }
        }

        > .career-numbers-section {
            color: $white;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            margin: 100px 0;

            > .career-number {
                align-items: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                width: 170px;
                margin: 20px 0;

                > .number-title {
                    font-size: 2rem;
                    font-weight: bold;
                }

                > .number-text {
                    display: inline-block;
                    text-align: center;
                    width: 150px;
                }
            }
        }

        > .technical-skills-section {
            color: $white;

            > .skills-section-title {
                color: $white;
                font-size: 2.3rem;
                font-weight: bold;
                text-align: center;
                margin-bottom: 40px;
            }

            > .skills-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                gap: 40px;

                > .skill {
                    align-items: center;
                    background-color: $secondary;
                    border-radius: 3px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    padding: 15px;
                    width: 250px;

                    > .skill-info {
                        align-items: center;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        > .technology-icon {
                            border-radius: 5px;
                            height: 80px;
                            width: 80px;
                        }

                        > .skill-name {
                            display: block;
                            text-align: center;
                            width: 95px;
                        }
                    }

                    > .skill-level {
                        align-items: center;
                        display: flex;
                        flex-direction: column;

                        > .skill-level-text {
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }
      
}